ul {
    list-style-type: none;
    margin: 3px;
    padding: 0;
    margin-bottom: 15px;
}

li {
    display: inline-block;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

div.Layout {
    max-width: 100%;
    width: 100%;
    padding-bottom: 5px;
}

body {
    margin: 0;
}